<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @book.titel %></h1>

      <ul class="pv1">
        <% if @book.category? %>
        <li class="inline-block pr3"><%= @book.category %></li>
        <% end %>

        <li class="inline-block pr3"><%= @book.author %></li>

        <% if @book.condition? %>
        <li class="inline-block pr3"><%= @book.condition %></li>
        <% end %>
      </ul>

   

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Description</h3>
     <table class="table is-narrow">
    <tr>
     <td width="250" height="450"><%= image_tag(@book.image_url(:default)) %></td>
     <td><%= @book.description %></td>
     </table>
     

      <h3 class="subtitle is-4 pt5">Book Specs</h3>

      <table class="table is-narrow">
        <% if @book.condition %>
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
          <td><%= @book.condition %></td>
        </tr>
        <% end %>
        <% if @book.typ %>
          <tr>
            <td class="has-text-weight-bold">Type:</td>
            <td><%= @book.typ %></td>
          </tr>
        <% end %>
        <% if @book.category %>
          <tr>
            <td class="has-text-weight-bold">Category:</td>
            <td><%= @book.category %></td>
          </tr>
        <% end %>

        <tr>
          <td class="has-text-weight-bold">Author:</td>
          <td><%= @book.author %></td>
        </tr>
        <tr>
          <td class="has-text-weight-bold">Price:</td>
          <td><%= number_to_currency(@book.price) %></td>
        </tr>
        <tr>
          <td class="has-text-weight-bold">Sold by:</td>
          <td><%= @book.user.name %></td>
        </tr>
       
        </table>
       
     <%= button_to 'Add to cart', '#', class: 'button is-warning add-to-cart' %>
       
        </div>
    </div>
  
  </div>

  <% if book_author(@book) %>
    <%= link_to 'Edit', edit_book_path(@book), class: 'button is-small' %>
<% end %>
</section>
